<section class="mt-4">
    <h1 class="fw-bold text-black">About us</h1>
    <hr class="border border-dark opacity-100">
    <h3 class="fw-semibold">What is this application?</h3>
    <p>This website is a personal video game collection manager.</p>
    <p>Its goal is to help users keep track of the games they own or have played, organizing them by genre, platform, and progress status.</p>
    <p>The application is designed to provide a clean, fast, and intuitive experience, inspired by classic video game aesthetics.</p>
</section>