<section class="mt-4">
    <div class="d-flex justify-content-between align-items-center">
        <h1 class="fw-bold text-black">Browse All Games</h1>
        <input type="text" class="w-25 h-100 py-2 bg-dark text-white border-0 rounded-5" placeholder="Search" style="outline: none; padding-left: 1rem;">
    </div>
    
    <hr class="border border-dark opacity-100">
    <div class="mt-4 d-flex gap-3">
        <a href="" class="text-decoration-none text-white bg-dark py-2 px-4 rounded-4 tex">All games</a>
        <a href="" class="text-decoration-none text-black fw-semibold border-2 border-dark py-2 px-4 rounded-4" style="border-style: dashed !important;">Shooter</a>
        <a href="" class="text-decoration-none text-black fw-semibold border border-2 border-dark py-2 px-4 rounded-4" style="border-style: dashed !important;">RPG</a>
        <a href="" class="text-decoration-none text-black fw-semibold border border-2 border-dark py-2 px-4 rounded-4" style="border-style: dashed !important;">Turn-Based Strategy</a>
        <a href="" class="text-decoration-none text-black fw-semibold border border-2 border-dark py-2 px-4 rounded-4" style="border-style: dashed !important;">Roguelike</a>
    </div>

</section>
