
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#header {
  padding-left: 18rem;
  padding-right: 18rem;
}

.font-display {
  font-family: "Press Start 2P", system-ui;
}

.font-text {
  font-family: "DM Sans", sans-serif;
}
